body{
  background-image: url(https://i.postimg.cc/nzG1yn4J/spookybackgrund.jpg);
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb( 48,50,58);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Cutive Mono", monospaced;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 0px 5px rgb(96,2,2)
}

/* Change color on hover */
.topnav a:hover {
  color: grey;
  text-shadow: 0px 0px 5px rgb(96,2,2);
}

h1{
  font-family: 'Creepster';
  color: rgb(96, 2, 2) ;
  font-size: 600%;
  text-shadow:1px 1px 5px white;
  margin-bottom: -5px;
}

.bordr{
  border: 0px solid white;
  width: 50%;
  background-color: rgb(24,25,29);
  margin-top: 0px;
}

.bordrr{
  border: 0px solid white;
  width: 95%;
  background-color: rgb( 48,50,58);
  height: 95%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
}

img{
  float: center;
  height: 20%;
  width: 20%;
}

.head {
  font-family: 'Creepster';
  color: rgb(96, 2, 2);
  text-shadow:0px 0px 5px white;
  font-size: 20px;
}

table, th, td {
  border: 1px solid grey;  
  color: white;
  border-collapse: collapse;
  padding:4px;
  padding-top:4px;
  padding-bottom:4px;
  font-weight: strong;
}

th{
  font-family: "Frijole", cursive;
  color: rgb(96, 2, 2);
  text-shadow: 0px 0px 5px white;
  text-align: center;
}

td{
  font-family: "Cutive Mono", monospaced;
  text-shadow: 0px 0px 5px rgb(96, 2, 2);
}

a{
   text-decoration: none;
   color: white;
}

a:hover{
  color: rgb(96, 2, 2);
}

/* Map Styles */
iframe{
  width: 95%; 
  height: 350px;
  frameborder: 0; 
  border: 10px solid rgb(48, 50, 58); 
  border-radius: 10px; 
  margin-top: 15px;
}

@media screen and (max-width: 992px) {
    h1{
        font-size:400%;
    }
}
